<% include ../partials/header %>

<div class="container">
<h1>Show journal page</h1>
<h2>Journal name is: <%= journal.name %></h2>
<%= journal.balance %>

<table class="table table-striped table-bordered table-responsive">
    <tr><th>Description</th><th>Post Reference</th><th>Debit</th><th>Credit</th></tr>
    <tr><td>Got money!</td><td>101</td><td>1300.00</td><td></td></tr>
    <tr><td>Got money!</td><td>101</td><td></td><td>(1300.00)</td></tr>
    <tr><td>Got money!</td><td>101</td><td>1300.00</td><td></td></tr>
    <tr><td>Got money!</td><td>101</td><td></td><td>(1300.00)</td></tr>
    <tr><td>Got money!</td><td>101</td><td>1300.00</td><td></td></tr>
    <tr><td>Got money!</td><td>101</td><td></td><td>(1300.00)</td></tr>
    
</table>

<% include ../partials/footer %>