<h1>This will be the companies index page.</h1>


<% companies.forEach(function(companies){ %>
    <div>
        <h4>Name: <%= companies.name %></h4>
        <h5>Balance: <%= companies.balance %></h5>
        
    </div>
<% }); %>