<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Accounting</h1>
            <p>Which company would you like to work on?</p>
            <a class="btn btn-primary btn-large" href="/companies/new">Add new company</a>
        </div>
    </header>
    
    
    
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <% companies.forEach(function(companies){ %>
            <div class="col-md-3 col-sm-6">
                <h4>Name: <%= companies.name %></h4>
                <h5>Balance: <%= companies.balance %></h5>
                
            </div>
        <% }); %>
    </div>
    
    
    
    
</div>

<% include partials/footer %>