<% include ../partials/header %>

    

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Accounting</h1>
            <p>Which company would you like to work on?</p>
            <a class="btn btn-primary btn-large" href="/companies/new">Add new company</a>
        </div>
    </header>
    
    
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% companies.forEach(function(company){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="https://www.bitbrainsolutions.net/helloquence-51716-unsplash.jpg">
                    <div class="caption">
                        <h4><%= company.name %></h4>
                        <a href="/companies/<%= company._id %>/journal" class="btn btn-primary">Journal</a>
                        <a href="/companies/<%= company._id %>" class="btn btn-primary">Ledger</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    
    
    
    
    
    
</div>

<% include ../partials/footer %>